<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <title>갤러리</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../static/js/scroll_header.js"></script>
    <script src="../static/js/toggle_menu.js"></script>
    <script src="../static/js/hash.js"></script>

    <style>
        @import url('../static/css/default.css');
        @import url('../static/css/scroll_header.css');
        @import url('../static/css/toggle_menu.css');
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/scroll_header.css"> -->

    <link rel="apple-touch-icon" sizes="180x180" href="../static/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/icons/favicons/site.webmanifest">
</head>

<body>
    <div class="main-header">main-header</div>
    <div class="Hanul-Scroll-header">a<br>a</div>

    <div class="main-secter Hanul-Toggle-secter"><ol style="list-style-type: none;padding:10px;">
        <li>1</li>
        <li>2</li>
    </ol></div>
    <div class="main-article">
        <div class="images">
            <ol class="image-list">
                {% for (root,dirs,image) in images %}
                    {% for image in image%}
                        <li class="image-thumbnail"><a href="#img={{image}}"><img src="{{ thumb(image) }}" alt="{{image}}" loading="lazy" width="100" height="100"></a></li>
                    {% endfor %}
                {% endfor%}
            </ol>
        </div>
        <div class="image-viewer">
            <div class="main-image"><img class="main-image-img" id="main-image-img" alt="" src="..\static\icons\Hopper Icon.png" /></div>
            <h2 class="image-title">TitleTitleTitleTitleTitle TitleTitleTitleTitleTitle TitleTitle Title TitleTitleTitleTitleTitle</h2><h5 class="image-file-name">filename.png</h5>
            <hr>
            <p class="image-description">descrption descrption descrption descrption descrption descrption descrption descrpthfhfdhdfghdfghion desdfhhfdhfdhdfghdfghhfdcrption descrption descrption descrptdfghdfghdfghdfghion descrption descrption descrption descrption descrption descrption descrption descrption descrption </p>
            <hr>
            <div class="image-tags">
                <div class="image-tag">Tag 1</div>
                <div class="image-tag">Tag 2</div>
                <div class="image-tag">Tag 3</div>
                <div class="image-tag">Tag 1111111111111</div>
                <div class="image-tag">Tag 2</div>
                <div class="image-tag">Tag 3</div>
                <div class="image-tag">Tag 1</div>
                <div class="image-tag">Tag 222222222</div>
                <div class="image-tag">Tag 3</div>
                <div class="image-tag">Tag 1</div>
                <div class="image-tag">Tag 2</div>
                <div class="image-tag">Tag 3</div>
            </div>
        </div>
    </div>
</body>
</html>